{% extends 'base.html' %}
{% load static %}
{% block header %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
      <li class="breadcrumb-item active" aria-current="page">Курсы</li>
    </ol>
  </nav>
    <h2>Доступные курсы:</h2>
{% endblock header %}

{% block content %}
    {% for course in course_list%}
    <div class="row">
        <div class="jumbotron col-lg-12">
            <div class="col-md-3 col-lg-3">
                <a href="{% url 'course' course.id %}"><h1>{{ course }}</h1></a>
            </div>
            <div class="col-md-3 col-lg-3">
                <img src="{{ course.course_pic.url }}" width="100" alt="{{course}}"/>
            </div>
            <div class="course-descr col-md-12 col-lg-12 ">
                {{ course.about }}
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock content %}